doctype html
html(lang="")
  head
    // ...
    link(rel="stylesheet", href="styles/main.scss")
  body
    include templates/header

    section.main-content
      .container
        h2 This is index content

    include templates/footer
